<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Nudger</servlet-name>
		<servlet-class>nudger.NudgerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Nudger</servlet-name>
		<url-pattern>/nudger</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Auth</servlet-name>
		<servlet-class>nudger.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Auth</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewUser</servlet-name>
		<servlet-class>nudger.NewUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewUser</servlet-name>
		<url-pattern>/auth/new</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Group</servlet-name>
		<servlet-class>nudger.GroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Group</servlet-name>
		<url-pattern>/group</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewGroup</servlet-name>
		<servlet-class>nudger.NewGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewGroup</servlet-name>
		<url-pattern>/group/new</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChoreAssignment</servlet-name>
		<servlet-class>nudger.ChoreAssignmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChoreAssignment</servlet-name>
		<url-pattern>/group/assign</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Chore</servlet-name>
		<servlet-class>nudger.ChoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Chore</servlet-name>
		<url-pattern>/group/chore</url-pattern>
	</servlet-mapping>
	
</web-app>
